* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::before {
  box-sizing: border-box;
}

::after {
  box-sizing: border-box;
}

html {
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  width: 100%;
  height: 100%;
  margin: 0 !important;
}

a {
  text-decoration: none;
  background: transparent;
  outline: none;
  font-size: inherit;
  color: inherit;
}

article {
  display: block;
}

aside {
  display: block;
}

audio {
  display: block;
  vertical-align: middle;
  max-width: 100%;
}

button {
  background: transparent;
  border: 0;
  outline: none;
  font-size: inherit;
  color: inherit;

  &:hover {
    cursor: pointer;
  }
}

canvas {
  display: block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

embed {
  display: block;
  vertical-align: middle;
  max-width: 100%;
}

figcaption {
  display: block;
}

figure {
  display: block;
}

footer {
  display: block;
}

header {
  display: block;
}

hgroup {
  display: block;
}

iframe {
  display: block;
  vertical-align: middle;
  max-width: 100%;
}

img {
  display: block;
  vertical-align: top; // display:flex;させたときの余白を消す
  max-width: 100%;
  border: none;
}

input {
  font-size: inherit;
  color: inherit;
}

main {
  display: block;
}

nav {
  display: block;
}

object {
  display: block;
  vertical-align: middle;
  max-width: 100%;
}

ol {
  list-style: none;
}

section {
  display: block;
}

select {
  font-size: inherit;
  color: inherit;
}

svg {
  display: block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

table {
  border-collapse: collapse;
}

textarea {
  font-size: inherit;
  color: inherit;
  outline: none;
}

td {
  font-size: inherit;
  color: inherit;
}

ul {
  list-style: none;
}

video {
  height: auto;
}

[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

textarea {
  display: block;
}

// iOSで「視差効果を減らす」がオンのとき
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
