@import "https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css";
@import "https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;700;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::before {
  box-sizing: border-box;
}

::after {
  box-sizing: border-box;
}

html {
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  width: 100%;
  height: 100%;
  margin: 0 !important;
}

a {
  text-decoration: none;
  background: transparent;
  outline: none;
  font-size: inherit;
  color: inherit;
}

article {
  display: block;
}

aside {
  display: block;
}

audio {
  display: block;
  vertical-align: middle;
  max-width: 100%;
}

button {
  background: transparent;
  border: 0;
  outline: none;
  font-size: inherit;
  color: inherit;
}
button:hover {
  cursor: pointer;
}

canvas {
  display: block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

embed {
  display: block;
  vertical-align: middle;
  max-width: 100%;
}

figcaption {
  display: block;
}

figure {
  display: block;
}

footer {
  display: block;
}

header {
  display: block;
}

hgroup {
  display: block;
}

iframe {
  display: block;
  vertical-align: middle;
  max-width: 100%;
}

img {
  display: block;
  vertical-align: top;
  max-width: 100%;
  border: none;
}

input {
  font-size: inherit;
  color: inherit;
}

main {
  display: block;
}

nav {
  display: block;
}

object {
  display: block;
  vertical-align: middle;
  max-width: 100%;
}

ol {
  list-style: none;
}

section {
  display: block;
}

select {
  font-size: inherit;
  color: inherit;
}

svg {
  display: block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

table {
  border-collapse: collapse;
}

textarea {
  font-size: inherit;
  color: inherit;
  outline: none;
}

td {
  font-size: inherit;
  color: inherit;
}

ul {
  list-style: none;
}

video {
  height: auto;
}

[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

textarea {
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
* {
  font-family: "Noto Sans JP";
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP";
  color: #303030;
  -webkit-hyphens: auto;
          hyphens: auto;
  line-break: strict;
  overflow-wrap: break-word;
  word-break: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-feature-settings: "palt";
}

h1 {
  font-size: 1.75rem;
  line-height: 2.1875rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.875rem;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.5625rem;
}

h4 {
  font-size: 1rem;
  line-height: 1.25rem;
}

h5 {
  font-size: 1rem;
  line-height: 1.25rem;
}

h6 {
  font-size: 1rem;
  line-height: 1.25rem;
}

td,
input {
  font-family: "Noto Sans JP";
}

#loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999 !important;
  background: #303030;
  transition: all 0.5s linear;
}

.loading-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.loaded {
  opacity: 0;
  visibility: hidden;
  transform: scale(1.5, 1.5);
  filter: blur(5px);
}

.loading-item {
  font-size: 1rem;
}